body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#111;
color:#fff;
padding-top:90px;
scroll-behavior:smooth;
}

/* HEADER */

.header{
position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,.85);
backdrop-filter:blur(10px);
padding:15px 0;
z-index:1000;
}

.container-header{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:60px;
}

.menu a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

.menu a:hover{
color:#FFD000;
}

.btn-menu{
background:#FFD000;
color:#000!important;
padding:10px 18px;
border-radius:30px;
}

/* HERO APPLE */

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),
url("../img/loja.JPEG") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.overlay{
animation:fadeUp 1.2s ease;
}

.hero h1{
font-size:60px;
color:#FFD000;
margin:0;
}

.btn{
background:#FFD000;
color:#000;
padding:15px 30px;
text-decoration:none;
border-radius:40px;
font-weight:bold;
display:inline-block;
margin-top:20px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 20px #FFD000;
}

/* SERVIÇOS */

.servicos{
padding:80px 20px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#000;
padding:25px;
border-radius:12px;
width:280px;
transition:.4s;
opacity:0;
transform:translateY(60px);
}

.card.mostrar{
opacity:1;
transform:translateY(0);
}

.card:hover{
transform:translateY(-10px);
border:1px solid #FFD000;
}

/* MAPA */

.mapa{
padding:80px 20px;
text-align:center;
}

.mapa iframe{
width:90%;
height:400px;
border:none;
border-radius:12px;
}

/* FOOTER */

footer{
background:#000;
text-align:center;
padding:30px;
}

/* WHATSAPP */

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:#fff;
font-size:28px;
padding:15px;
border-radius:50%;
text-decoration:none;
}

/* ANIMAÇÕES */

@keyframes fadeUp{
from{opacity:0;transform:translateY(40px);}
to{opacity:1;transform:translateY(0);}
}