body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#111;
color:#fff;
padding-top:90px;
scroll-behavior:smooth;
}

/* HEADER */

.header{
position:fixed;
top:0;
width:100%;
background:#000;
padding:15px 0;
z-index:1000;
box-shadow:0 2px 15px rgba(0,0,0,.6);
}

.container-header{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:60px;
}

.menu a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

.menu a:hover{
color:#FFD000;
}

.btn-menu{
background:#FFD000;
color:#000!important;
padding:10px 18px;
border-radius:30px;
}

/* HERO */

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.85)),
url("../img/loja.JPEG") center/cover no-repeat;
background-attachment:fixed;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero h1{
font-size:60px;
color:#FFD000;
}

.hero p{
font-size:18px;
max-width:600px;
margin:auto;
}

.btn{
background:#FFD000;
color:#000;
padding:15px 30px;
text-decoration:none;
border-radius:40px;
font-weight:bold;
display:inline-block;
margin-top:25px;
transition:.4s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 25px #FFD000;
}

/* SERVIÇOS */

.servicos{
padding:80px 20px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#000;
padding:25px;
border-radius:12px;
width:280px;
border:1px solid transparent;
transition:.5s;
}

.card:hover{
transform:translateY(-15px) scale(1.03);
border:1px solid #FFD000;
box-shadow:0 20px 40px rgba(255,208,0,.25);
}

/* MAPA */

.mapa{
padding:80px 20px;
text-align:center;
}

.mapa iframe{
width:90%;
height:400px;
border:none;
border-radius:12px;
}

/* CONTATO */

.contato{
padding:80px 20px;
text-align:center;
}

/* FOOTER */

footer{
background:#000;
padding:20px;
text-align:center;
}

/* WHATSAPP */

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:#fff;
font-size:28px;
padding:15px;
border-radius:50%;
text-decoration:none;
animation:pulse 2s infinite;
}

/* ANIMAÇÕES SCROLL */

.animar{
opacity:0;
transform:translateY(80px) scale(.98);
transition:
opacity 1.2s ease,
transform 1.2s cubic-bezier(.17,.67,.3,1);
}

.animar.ativo{
opacity:1;
transform:translateY(0) scale(1);
}

@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}