/* RESET */
*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif;}
body{background:#111;color:#fff;overflow-x:hidden;}

/* PRELOADER */
#preloader{
position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:9999;display:flex;justify-content:center;align-items:center;
}
.loader{
border:5px solid #fff;border-top:5px solid #FFD000;border-radius:50%;width:60px;height:60px;animation:spin 1s linear infinite;
}
@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}

/* HEADER */
.header{position:fixed;top:0;width:100%;padding:15px 0;background:rgba(0,0,0,0.5);backdrop-filter:blur(15px);z-index:1000;transition:.5s;}
.container-header{width:90%;margin:auto;display:flex;justify-content:space-between;align-items:center;}
.logo{height:60px;}
.menu a{color:#fff;text-decoration:none;margin-left:25px;font-weight:600;transition:.3s;}
.menu a:hover{color:#FFD000;}
.btn-menu{background:#FFD000;color:#000!important;padding:10px 18px;border-radius:30px;}

/* HERO */
.hero{
height:100vh;
display:flex;align-items:center;justify-content:center;text-align:center;
background:url("../img/loja.JPEG") center/cover no-repeat;
position:relative;
overflow:hidden;
}
.hero::after{
content:"";
position:absolute;
width:100%;height:100%;
background:linear-gradient(180deg,rgba(0,0,0,.4),#000);
z-index:1;
}
.hero .overlay{position:relative;z-index:2;animation:fadeUp 1.2s ease;}
.hero h1{font-size:60px;color:#FFD000;margin-bottom:20px;}
.hero p{opacity:.8;max-width:700px;margin:auto;}
.btn{background:#FFD000;color:#000;padding:15px 30px;border-radius:40px;font-weight:bold;display:inline-block;margin-top:20px;transition:.5s cubic-bezier(.22,1,.36,1);}
.btn:hover{transform:translateY(-3px) scale(1.05);box-shadow:0 0 30px rgba(255,255,255,.2);}

/* SECTIONS */
section{min-height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:120px 20px;opacity:0;transform:translateY(80px);transition:1.2s cubic-bezier(.22,1,.36,1);}
section.show{opacity:1;transform:translateY(0);}

/* CARDS */
.cards{display:flex;gap:30px;flex-wrap:wrap;justify-content:center;margin-top:40px;}
.card{background:#000;padding:30px;border-radius:20px;width:260px;transition:.6s cubic-bezier(.22,1,.36,1);opacity:0;transform:translateY(60px);}
.card.mostrar{opacity:1;transform:translateY(0);}
.card:hover{transform:translateY(-15px) scale(1.04);background:#1b1b1b;}

/* MAPA */
iframe{width:90%;max-width:900px;height:400px;border:none;border-radius:20px;}

/* WHATSAPP */
.whatsapp{position:fixed;bottom:30px;right:30px;font-size:28px;z-index:999;}
.whatsapp:hover{transform:scale(1.2);transition:.4s;}

/* ANIMAÇÃO */
@keyframes fadeUp{from{opacity:0;transform:translateY(40px);}to{opacity:1;transform:translateY(0);}}

/* LOADING REMOÇÃO */
body.loaded #preloader{display:none;}